HELP.md
target/
logs/
.git/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Package Files ###
.DS_Store

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### gradle ###
.gradle/
/gradle
/.gradle/*
gradlew
gradlew.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/